.articleContent {
    min-width: 25%;
    background: #C7D4D9;
    border: 2px solid white;
    color: black;
    transition: box-shadow .8s ease-in-out 10ms, border .8s ease-in-out 10ms;
}

.articleContent a {
    color: black;
}

.articleContent li {
    list-style-type: circle;
    line-height: 160%
}

.articleContent strong {
    display: block;
    font-size: 18px;
    margin: 12%;
}

.articleContent ul {
    margin-bottom: 35px;
}

@media (min-width: 481px) and (max-width: 700px) {	
	.articleContent {
		min-width: 25%;
		padding-right: 10%;
    }
}

@media (min-width: 365px) and (max-width: 480px) {
	.articleContent {
		min-width: 40%;
		padding-right: 10%;
    }
}

@media (max-width: 364px) {
	.articleContent {
		min-width: 95%;
    }
}