html, body {
	background: linear-gradient(to bottom, #6C5651 0%, #35312F 100%);
	font-family: 'Lato', sans-serif;
}


#container {
	width: auto;
	max-width: 1000px;
	background: linear-gradient(to right bottom, #1C1615 0%, black 100%);
	font-size: 14px;
	padding: 3px;
	box-shadow: 55px 55px 70px 55px rgba(0,0,0,.7);
	margin: 0 auto;
}

#contain {
	width: 80%;
	/*background: linear-gradient(to right bottom, #1C1615 0%, black 100%);*/
	text-align: justify;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 100px;
	padding-top: 40px;
	color: lightgray;
}

#contain h1 {
	margin-left: 5.5%;
	margin-bottom: 0;
	letter-spacing: 2px;
}

#contain p {
	margin: 10px 15px 10px;
	line-height: 170%;
}

#menu {
	background: linear-gradient(to bottom, #311711 0%, #1E0E0A 100%);
	padding: 10px 0;
	text-shadow: 5px 3px 5px #000000;
	border-style: solid;
	border-color: #723628 #311711 #723628;
	height: 35px;
	text-align: center;
}

#menu:after {
	content: "";
	clear: both;
	display: table;
}


#top {
	background-image:url('img/przod.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#top span {
	font-size: 10px;
	display: block;
	padding: 4% 25% 22% 51%;
	opacity: 0;
}

#bottom {
	clear: both;
	width: auto;
	color: #FFFFCC;
	padding-bottom: 20px;
}

#bottom div {
	margin-left: 10%;
}

.znakWodny {
	width: 12%;
	display: block;
	margin: 0 auto 55px;
}

.znakWodny:last-of-type {
	margin: 75px auto 0;
}


.podkreslenie {margin-bottom: 45px;}

.option{
	min-width: 13.7%;
	padding: 10px 0;
	float: left;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	transition: background-color;
	transition-duration: 0.6s;
}

.option:nth-of-type(7) {border-right: 0;}

.option:nth-of-type(7):hover {border-right: 0;}

.option:hover{
    transform: scale(1.04);
	background-color: #422018;
	cursor: pointer;
	box-shadow: 7px 7px 7px 7px rgba(0,0,0,.4);
	border-right: 1px solid #311711;
	border-left: 1px solid #311711;
}

.option:first-of-type:hover {
	border-left: 0;
}

.option:first-of-type {
	border-left: 0;
	margin-left: 1%;
}

.option a:visited, .option a:link {
	text-decoration: none;
	color: #FFFFC2;
}

/*blok na dole artykulu, w ktorym zawarte sa inforamcje o zrodlach oraz 
dacie utworzenia, a także dacie ostatniej aktualizacji*/
.datyZrodla {
	font-style: italic;
	font-size: 9px;
	margin-top: 60px;
}

.datyZrodla a {
	background: url('img/globe.png') no-repeat;
	background-position: right center;
	padding: 0 30px 0 0;
}

.datyZrodla div {	
	letter-spacing: 2px;
}

.datyZrodla p {
	letter-spacing: 1px;
	text-decoration: underline;
}

.goraStrony {
	margin: 30px auto 0;
	max-width: 10%;
}

address {
	font-size: 10px;
	text-align: center;
	padding: 25px;
}

a:link {
	color: #BEDEE8;
}

a:hover {
	text-decoration: none;
}

a:active {
	color: red;
}

a:visited {
	color: orange;
}



p.wstep {
	color:rgb(195,151,51);
	line-height: 145%;
	padding-bottom: 40px;
	font-size: 16px;
}

h2 {
		margin-top: 75px;
	}

.inscription {
		padding: 7% 15%;
		font-style: italic;
		line-height: 150%;
	}

.articleContent {
		min-width: 25%;
		background: #C7D4D9;
		border: 2px solid white;
		color: black;
		transition: box-shadow .8s ease-in-out 10ms, border .8s ease-in-out 10ms;
	}
	
.articleContent:hover {
		border: 2px solid #f4ce42;
		box-shadow: -1px -1px 128px 3px #f4ce42,
					        -1px -1px 214px -33px white;
}

.articleContent a {
		color: black;
	}

.articleContent li {
		list-style-type: circle;
		line-height: 160%
	}

.articleContent strong {
		display: block;
		font-size: 18px;
		margin: 12%;
	}

.articleContent ul {
		margin-bottom: 35px;
	}

h2 + hr {
	width: 40%;
	border: 1px solid red;
	margin-left: 0;
}

#menu button {
	display: none;
}



/* ========== obrazy ========== */
figure {
	border: 3px solid white;
	padding: 10px;
	margin: 5px 0 5px 3%;
	transition: box-shadow .8s ease-in-out 10ms, border .8s ease-in-out 10ms;
}

.standard {
	width: 50%;
}

.everage {
	width: 40%;
	}

.small {
	width: 30%;
	}

figure:hover {
	border: 3px solid brown;
	box-shadow: -1px -1px 128px 3px brown,
					    -1px -1px 214px -33px white;
}

figure img {
	width: 100%;
}

figcaption {
	font-style: italic;
	font-size: 12px;
	color: white;
	text-align: center;

}

.plywaLewo {
	float: left;
	margin: 1.7%;
}

.plywaPrawo {
	float: right;
	margin: 1.7%;
}


/* ========== koniec obrazów ========== */

/*
	style dla etykietek
*/

	.outside {
		background-color: #FAFACD;
		width: 400px;
		min-height: 90px;
		opacity: 0.9;
	}

	.outside img {
		padding: 5% 2%;
		float: left;
	}

	.outside p {
		padding: 2%; 
		text-align: center;
		display: block;
		float: right;
		margin-top: 7px;
	}

	.outside span {
		font-size: 11px;
	}

	.outside strong {
		display: block;
		font-size: 17px;	
	}
/*
	koniec styli dla etykietek
*/

/* ============ style dla strony responsywnej ============ */
@media (max-width: 700px) {
	#menu button {
		display: block;
		width: 40px;
		height: 35px;
		border: 0;
		border-top: 5px solid white;
		background: transparent;
		position: relative;
		transition: 0.3s transform linear; 
	}
	#menu button::after, #menu button::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transform: translateY(10px);
		border-top: 5px solid white;

	} 
	#menu button::after {
		transform: translateY(25px);
		transition: 0.3s transform linear;
	}

	#menu button:focus {
		transform: rotate(45deg) translateY(5px);
		border: none;
	}

	#menu button:focus::after {
		transform: rotate(-90deg) translate(-10px);
	}
} 


@media (min-width: 481px) and (max-width: 700px) {
	.option {
	float: none;
	display: none ;
	text-align: center;
	border: none;
	}
	
	.option:hover {
	border: none;
	}

	#menu .option:nth-of-type(odd) {	
		background-color: #311711;
	}

	#menu .option:nth-of-type(even) {
		background-color: #1E0E0A;
	}

	#menu {
	height: 35px;
	}
	
	#contain {
	padding: 30px 4% 40px 4% ;
	width: 92%;
	}

	.standard {
	width: 50%;
	}

	.everage {
	width: 40%;
	}

	.small {
	width: 40%;
	}

	.plywaPrawo {
	float: right;
	margin-right: 0.4%;
	}

	.plywaLewo {
	float: left;
	margin-left: 0.4%;
	}


	#bottom div {
	margin-left: 4%;
	}

	.articleContent {
	min-width: 25%;
	padding-right: 10%;
	}


	h2 + hr {
	width: 50%;
	border: 1px solid red;
	}

}
@media (min-width: 365px) and (max-width: 480px) {
	.option {
		display: none;
	}
	/* .option {
	float: none;
	display: inline-block;
	text-align: center;
	border: none;
	}
	
	.option:hover {
	border: none;	
	}

	#menu .option:nth-of-type(odd) {	
		background-color: #311711;
	}

	#menu .option:nth-of-type(even) {
		background-color: #1E0E0A;
	}

	#menu {
	height: auto;
	} */
	
	#contain {
	padding: 20px 3% 30px 3% ;
	width: 94%;
	}

	.standard {
	width: 93%;
	}

	.everage {
	width: 93%;
	}

	.small {
	width: 93%;
	}

	.plywaPrawo {
	float: right;
	margin-right: 0.6%;
 	}

 	.plywaLewo {
	float: left;
	margin-left: 0.6%;
 	}

	#bottom div {
	margin-left: 2%;
	}

	.articleContent {
	min-width: 40%;
	padding-right: 10%;
	}


	h2 + hr {
	width: 100%;
	border: 1px solid red;
	}
}



@media (max-width: 364px) {
	.option {
		display: none;
	}
	/* .option {
	float: none;
	display: inline-block;
	text-align: center;
	border: none;
	}
	
	.option:hover {
	border: none;
	}

	#menu .option:nth-of-type(odd) {	
		background-color: #311711;
	}

	#menu .option:nth-of-type(even) {
		background-color: #1E0E0A;
	}


	#menu {
	height: auto;
	} */
	
	#contain {
	padding: 30px 4% 40px 4% ;
	width: 92%;
	}
	
	.standard {
	width: 89%;
	}

	.everage {
	width: 89%;
	}

	.small {
	width: 89%;
	}

	.plywaPrawo {
	float: right;
	margin-right: 0.8%;
	}

	.plywaLewo {
	float: left;
	margin-left: 0.8%;
	}

	#top {
	background-image: url('img/przod_320px.jpg');
	}
	

	#bottom div {
	margin-left: 3%;
	}

	.articleContent {
	min-width: 95%;
	}

	h2 + hr {
	width: 100%;
	border: 1px solid red;
	}
}

/* ============ koniec styli dla strony responsywnej ============ */

/* ============ style dla drukarki ============ */

@media print {

	#container {
	box-shadow: none;
	background: white;
	}
	
	
	body {
		color: black;
		background: white;
}
	
	#top, #menu {
		display: none;
	}
}

/* ============ koniec styli dla drukarki ============ */

